<div class="container top-ofset">
    <div class="row justify-content-md-center conty-back">      
      <div class="col-lg-8 col-lg-auto">
          <h3>Stok Açılış Bakiyesi Giriş</h3>
        <form #ab="ngForm" (ngSubmit)="save(ab.value)">
            <div class="form-group">
                <label for="stokKodu">Stok Kodu</label>
                <select #stokKodu="ngModel" ngModel name="stokKodu" id="stokKodu" class="form-control" required>
                    <option [ngValue]="stokKodu" *ngFor="let stock of stocks_Angular | async"> {{ stock.stokKodu }} </option>
                </select>
                <div class="alert alert-danger" *ngIf="stokKodu.touched && stokKodu.invalid"> Stok Kodunu boş geçemezsiniz</div>
            </div>
            <div class="form-group">
                <label for="stokAdi">Stok Adı</label>
                <select #stokAdi="ngModel" ngModel name="stokAdi" id="stokAdi" class="form-control" required>
                    <option [ngValue]="stokAdi" *ngFor="let stock of stocks_Angular | async"> {{ stock.stokAdi }} </option>
                </select>
                <div class="alert alert-danger" *ngIf="stokAdi.touched && stokAdi.invalid"> Stok Adını boş geçemezsiniz</div>
            </div>            
            <div class="form-group half-ofset">
                <label for="depo">Depo</label>
                <select #depo="ngModel" ngModel name="depo" id="depo" class="form-control" >
                    <option [ngValue]="depo" *ngFor="let depo of depos_Angular | async"> {{ depo.depoName }} </option>
                </select>
            </div>            
            <div class="form-group half-ofset">
                <label for="unitSet">UnitSet</label>
                <select #unitSet="ngModel" ngModel name="unitSet" id="unitSet" class="form-control" required>
                    <option value="">Seçiniz</option>
                    <option value="weight">Ağırlık</option>
                    <option value="volume">Hacim</option>
                    <option value="quantity">Miktar</option>
                </select>
                <div class="alert alert-danger" *ngIf="unitSet.touched && unitSet.invalid"> Unitset seçmeniz gerekmektedir.</div>
            </div>
            <div class="form-group half-ofset" *ngIf="unitSet.value == 'weight'">
                <label for="quantity">Miktar</label>
                <input #quantity="ngModel" ngModel name="quantity" id="quantity" type="text" class="form-control">
                <div class="alert alert-danger" *ngIf="quantity.touched && quantity.invalid"> Miktar alanı hatalı</div>
            </div>
            
            <div class="form-group half-ofset" *ngIf="unitSet.value == 'volume' || unitSet.value == 'quantity'">
                <label for="package">Birim</label>
                <input #package="ngModel" ngModel name="package" id="package" type="text" class="form-control">
                <div class="alert alert-danger" *ngIf="package.touched && package.invalid"> Birim alanı hatalı</div>
            </div>

            <div class="form-group half-ofset" *ngIf="unitSet.value == 'weight'">
                <label for="unit">Ünite</label>
                <select #unit="ngModel" ngModel name="unit" id="unit" class="form-control" required>
                    <option value="">Seçiniz</option>
                    <option value="tons">ton</option>
                    <option value="kgs">kg</option>
                    <option value="grs">gr</option>
                </select>
                <div class="alert alert-danger" *ngIf="unit.touched && unit.invalid"> Unit seçmeniz gerekmektedir.</div>
            </div>
            
            <div class="form-group half-ofset">
                <button class="btn btn-primary">Kaydet</button>
            </div>
            <div class="alert alert-primary half-ofset" role="alert" *ngIf="submitted">
                Kayit Tamamlandı. 
            </div>
        </form>
      </div>      
    </div>
    
</div>
