<div class="container top-ofset">
    <div class="row justify-content-md-center conty-back">      
        <div class="col-lg-8 col-lg-auto">
            <h3>Depo Liste</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Depo Adı</th>
                        <th>İl</th>
                        <th>İlçe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let depo of depos_Angular | async">
                        <td>{{ depo.depoName }}</td>
                        <td>{{ depo.il }}</td>
                        <td>{{ depo.ilce }}</td>
                    </tr>
                </tbody>
            </table>
        </div>      
    </div>
</div>