@import "~bootstrap/dist/css/bootstrap.css";

.top-ofset {
    margin-top:2rem;
}
.half-ofset {
    margin-top:1rem;
}

.conty-back{
    background-color:beige; 
    padding:2rem 0;
}

.alert{
    padding:0.5rem;
}